@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}

input,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 8px;
  background: transparent;
  outline: none;
  margin-right: 8px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover {
  border: 1px solid #000000;
}
input:active {
  border: 1px solid #4e75ff;
}

button {
  font-weight: 500;
  min-width: 75px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
} 

.gallery-figure {
  margin: 0;

}
.gallery-figcaption {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}
.img-content-wrapper {
  padding-block: 4px;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.img-content-wrapper > li {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.img-content-wrapper > li > span {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  display: block;
  color: #2e2f42;
}

.sl-wrapper {
  background-color: #2e2f42cc;
}

.sl-image img {
  border-radius: 4px 4px;
}

.sl-caption {
  border-radius: 0 0 4px 4px;
}

.sl-counter,
.sl-close,
.sl-prev,
.sl-next {
  color: #ffffff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.loader {
  display: flex;
  margin: 0px auto;
  border: 2px solid #FFF;
  width: 48px;
  height: 48px;
  background: #4e75ff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.is-hidden {
  display: none;
}
